.alert{
  color: var(--white);
  width: 100%;
  padding: 1rem;
}

.alert-succes{
  background-color: var(--success);
}

.alert-danger{
  background-color: var(--danger);
}

.invalid-feedback{
  color: var(--danger);
  position: absolute;
  bottom: -25px;
  left: 0;
}