.article__footer--link{
  color: blue;
  padding: 5px;
  font-family: var(--theme-font-family);
  font-size: 0.8rem;
}

.article__footer--btn{
  padding: 3px 10px;
  border-radius: 10px;
  @extend %shadow;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
}

.article__footer--btn--icon{
  padding: 10px;
  margin-right: 10px;
  img{
    width: 17px;
  }
}

.btn-primary{
  padding: 5px 12px;
  border-radius: 20px;
  @extend %shadow;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: var(--theme-secondary);
  color: white;
  min-width: 130px;
}

.btn-secondary{
  padding: 5px 12px;
  border-radius: 20px;
  @extend %shadow;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
}

.layout .avatar{
  display: block;
  width: 70px;
  margin: 0 auto;
}