footer{
  padding: 10px;
  border-top: 1px solid var(--gray-light);
  ul li {
    padding: 5px;
    margin: 5px 0;
    a {
      position: relative;
      &:before{
        position: absolute;
        top: 50%;
        left: -40px;

        content: '';
        width: 20px;
        height: 2px;
        background-color: var(--theme-secondary);
      }
    }
  }
}