.modal{
  z-index: 10;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 220px;
  padding: 1rem;
  text-align: center;
  background-color: var(--white);
  border-radius: 5px;
  @include shadow;
  header{
    margin-bottom: 20px;
  }
}

.modal.modal-succes{
  background-color: #var(--success);
  color: var(--white);
}