.field-options{
  position: relative;
  margin: 20px 0;

  label, select{
    display: block;
  }

  label{
    color: var(--theme-secondary);
    font-size: 12px;
  }

  select{
    width: 100%;
    border: none;
    @include shadow;
  }
}

.select-field option{
  padding: 5px 10px;
  color: var(--dark);
  &:checked{
    background-color: var(--theme-secondary)!important;
    color: var(--white);
  }
}
