h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select,
textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: border-box; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

td:not([align]),
th:not([align]) {
  text-align: left; }

a {
  text-decoration: none;
  cursor: pointer; }

html,
body {
  position: relative;
  max-width: 100%; }

body {
  margin: 0; }

picture {
  display: block; }

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition-duration: 0.3s; }

button:focus {
  outline: 0; }

input {
  outline: none;
  border: none;
  cursor: pointer; }

.item .item__description .panel-body .field {
  height: 100%; }

.nav__mobile .countrySelectInput {
  width: 100%;
  max-width: 100%;
  display: block;
  margin-left: 10px; }

.pill--remove {
  position: relative;
  top: 3px; }

.searchbar .field {
  height: 60px; }
  .searchbar .field:before, .searchbar .field:after {
    bottom: 0; }

figure {
  position: relative; }

div.view-text-container {
  margin-bottom: 0; }

:root {
  --theme-font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
  --theme-font-title: 'Space Mono', monospace;
  --font-size-base: 14px;
  --light: 300;
  --regular: 400;
  --semi-bold: 600;
  --bold: 700;
  --black: 900;
  --theme-primary: #FF314D;
  --theme-secondary: #3DB2FF;
  --theme-radius: 20px;
  --success: #77D970;
  --danger: #FF0000;
  --dark: #000000;
  --white: #ffffff;
  --gray-light: #E2E2E2;
  --gray: #aaaaaa;
  --gray-dark: #484848;
  --dark-ticketing: #171717;
  --gray-light-ticketing: #F8F8F8;
  --gray-100: #E2E2E2;
  --gray-200: #BDBDBD;
  --gray-300: #9E9E9E;
  --gray-400: #7D7D7D;
  --gray-500: #696969; }

.article__footer--btn, .btn-primary, .btn-secondary {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5); }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; }

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%; }

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%; }

.space-between {
  justify-content: space-between; }

.padding-1 {
  padding: 1px; }

.padding-top-1 {
  padding-top: 1px; }

.padding-bottom-1 {
  padding-bottom: 1px; }

.padding-left-1 {
  padding-left: 1px; }

.padding-right-1 {
  padding-right: 1px; }

.padding-2 {
  padding: 2px; }

.padding-top-2 {
  padding-top: 2px; }

.padding-bottom-2 {
  padding-bottom: 2px; }

.padding-left-2 {
  padding-left: 2px; }

.padding-right-2 {
  padding-right: 2px; }

.padding-3 {
  padding: 3px; }

.padding-top-3 {
  padding-top: 3px; }

.padding-bottom-3 {
  padding-bottom: 3px; }

.padding-left-3 {
  padding-left: 3px; }

.padding-right-3 {
  padding-right: 3px; }

.padding-4 {
  padding: 4px; }

.padding-top-4 {
  padding-top: 4px; }

.padding-bottom-4 {
  padding-bottom: 4px; }

.padding-left-4 {
  padding-left: 4px; }

.padding-right-4 {
  padding-right: 4px; }

.padding-5 {
  padding: 5px; }

.padding-top-5 {
  padding-top: 5px; }

.padding-bottom-5 {
  padding-bottom: 5px; }

.padding-left-5 {
  padding-left: 5px; }

.padding-right-5 {
  padding-right: 5px; }

.padding-6 {
  padding: 6px; }

.padding-top-6 {
  padding-top: 6px; }

.padding-bottom-6 {
  padding-bottom: 6px; }

.padding-left-6 {
  padding-left: 6px; }

.padding-right-6 {
  padding-right: 6px; }

.padding-7 {
  padding: 7px; }

.padding-top-7 {
  padding-top: 7px; }

.padding-bottom-7 {
  padding-bottom: 7px; }

.padding-left-7 {
  padding-left: 7px; }

.padding-right-7 {
  padding-right: 7px; }

.padding-8 {
  padding: 8px; }

.padding-top-8 {
  padding-top: 8px; }

.padding-bottom-8 {
  padding-bottom: 8px; }

.padding-left-8 {
  padding-left: 8px; }

.padding-right-8 {
  padding-right: 8px; }

.padding-9 {
  padding: 9px; }

.padding-top-9 {
  padding-top: 9px; }

.padding-bottom-9 {
  padding-bottom: 9px; }

.padding-left-9 {
  padding-left: 9px; }

.padding-right-9 {
  padding-right: 9px; }

.padding-10 {
  padding: 10px; }

.padding-top-10 {
  padding-top: 10px; }

.padding-bottom-10 {
  padding-bottom: 10px; }

.padding-left-10 {
  padding-left: 10px; }

.padding-right-10 {
  padding-right: 10px; }

.padding-11 {
  padding: 11px; }

.padding-top-11 {
  padding-top: 11px; }

.padding-bottom-11 {
  padding-bottom: 11px; }

.padding-left-11 {
  padding-left: 11px; }

.padding-right-11 {
  padding-right: 11px; }

.padding-12 {
  padding: 12px; }

.padding-top-12 {
  padding-top: 12px; }

.padding-bottom-12 {
  padding-bottom: 12px; }

.padding-left-12 {
  padding-left: 12px; }

.padding-right-12 {
  padding-right: 12px; }

.padding-13 {
  padding: 13px; }

.padding-top-13 {
  padding-top: 13px; }

.padding-bottom-13 {
  padding-bottom: 13px; }

.padding-left-13 {
  padding-left: 13px; }

.padding-right-13 {
  padding-right: 13px; }

.padding-14 {
  padding: 14px; }

.padding-top-14 {
  padding-top: 14px; }

.padding-bottom-14 {
  padding-bottom: 14px; }

.padding-left-14 {
  padding-left: 14px; }

.padding-right-14 {
  padding-right: 14px; }

.padding-15 {
  padding: 15px; }

.padding-top-15 {
  padding-top: 15px; }

.padding-bottom-15 {
  padding-bottom: 15px; }

.padding-left-15 {
  padding-left: 15px; }

.padding-right-15 {
  padding-right: 15px; }

.padding-16 {
  padding: 16px; }

.padding-top-16 {
  padding-top: 16px; }

.padding-bottom-16 {
  padding-bottom: 16px; }

.padding-left-16 {
  padding-left: 16px; }

.padding-right-16 {
  padding-right: 16px; }

.padding-17 {
  padding: 17px; }

.padding-top-17 {
  padding-top: 17px; }

.padding-bottom-17 {
  padding-bottom: 17px; }

.padding-left-17 {
  padding-left: 17px; }

.padding-right-17 {
  padding-right: 17px; }

.padding-18 {
  padding: 18px; }

.padding-top-18 {
  padding-top: 18px; }

.padding-bottom-18 {
  padding-bottom: 18px; }

.padding-left-18 {
  padding-left: 18px; }

.padding-right-18 {
  padding-right: 18px; }

.padding-19 {
  padding: 19px; }

.padding-top-19 {
  padding-top: 19px; }

.padding-bottom-19 {
  padding-bottom: 19px; }

.padding-left-19 {
  padding-left: 19px; }

.padding-right-19 {
  padding-right: 19px; }

.padding-20 {
  padding: 20px; }

.padding-top-20 {
  padding-top: 20px; }

.padding-bottom-20 {
  padding-bottom: 20px; }

.padding-left-20 {
  padding-left: 20px; }

.padding-right-20 {
  padding-right: 20px; }

@media only screen and (max-width: 768px) {
  .padding-small-1 {
    padding: 1px; }

  .padding-small-top-1 {
    padding-top: 1px; }

  .padding-small-bottom-1 {
    padding-bottom: 1px; }

  .padding-small-left-1 {
    padding-left: 1px; }

  .padding-small-right-1 {
    padding-right: 1px; }

  .padding-small-2 {
    padding: 2px; }

  .padding-small-top-2 {
    padding-top: 2px; }

  .padding-small-bottom-2 {
    padding-bottom: 2px; }

  .padding-small-left-2 {
    padding-left: 2px; }

  .padding-small-right-2 {
    padding-right: 2px; }

  .padding-small-3 {
    padding: 3px; }

  .padding-small-top-3 {
    padding-top: 3px; }

  .padding-small-bottom-3 {
    padding-bottom: 3px; }

  .padding-small-left-3 {
    padding-left: 3px; }

  .padding-small-right-3 {
    padding-right: 3px; }

  .padding-small-4 {
    padding: 4px; }

  .padding-small-top-4 {
    padding-top: 4px; }

  .padding-small-bottom-4 {
    padding-bottom: 4px; }

  .padding-small-left-4 {
    padding-left: 4px; }

  .padding-small-right-4 {
    padding-right: 4px; }

  .padding-small-5 {
    padding: 5px; }

  .padding-small-top-5 {
    padding-top: 5px; }

  .padding-small-bottom-5 {
    padding-bottom: 5px; }

  .padding-small-left-5 {
    padding-left: 5px; }

  .padding-small-right-5 {
    padding-right: 5px; }

  .padding-small-6 {
    padding: 6px; }

  .padding-small-top-6 {
    padding-top: 6px; }

  .padding-small-bottom-6 {
    padding-bottom: 6px; }

  .padding-small-left-6 {
    padding-left: 6px; }

  .padding-small-right-6 {
    padding-right: 6px; }

  .padding-small-7 {
    padding: 7px; }

  .padding-small-top-7 {
    padding-top: 7px; }

  .padding-small-bottom-7 {
    padding-bottom: 7px; }

  .padding-small-left-7 {
    padding-left: 7px; }

  .padding-small-right-7 {
    padding-right: 7px; }

  .padding-small-8 {
    padding: 8px; }

  .padding-small-top-8 {
    padding-top: 8px; }

  .padding-small-bottom-8 {
    padding-bottom: 8px; }

  .padding-small-left-8 {
    padding-left: 8px; }

  .padding-small-right-8 {
    padding-right: 8px; }

  .padding-small-9 {
    padding: 9px; }

  .padding-small-top-9 {
    padding-top: 9px; }

  .padding-small-bottom-9 {
    padding-bottom: 9px; }

  .padding-small-left-9 {
    padding-left: 9px; }

  .padding-small-right-9 {
    padding-right: 9px; }

  .padding-small-10 {
    padding: 10px; }

  .padding-small-top-10 {
    padding-top: 10px; }

  .padding-small-bottom-10 {
    padding-bottom: 10px; }

  .padding-small-left-10 {
    padding-left: 10px; }

  .padding-small-right-10 {
    padding-right: 10px; }

  .padding-small-11 {
    padding: 11px; }

  .padding-small-top-11 {
    padding-top: 11px; }

  .padding-small-bottom-11 {
    padding-bottom: 11px; }

  .padding-small-left-11 {
    padding-left: 11px; }

  .padding-small-right-11 {
    padding-right: 11px; }

  .padding-small-12 {
    padding: 12px; }

  .padding-small-top-12 {
    padding-top: 12px; }

  .padding-small-bottom-12 {
    padding-bottom: 12px; }

  .padding-small-left-12 {
    padding-left: 12px; }

  .padding-small-right-12 {
    padding-right: 12px; }

  .padding-small-13 {
    padding: 13px; }

  .padding-small-top-13 {
    padding-top: 13px; }

  .padding-small-bottom-13 {
    padding-bottom: 13px; }

  .padding-small-left-13 {
    padding-left: 13px; }

  .padding-small-right-13 {
    padding-right: 13px; }

  .padding-small-14 {
    padding: 14px; }

  .padding-small-top-14 {
    padding-top: 14px; }

  .padding-small-bottom-14 {
    padding-bottom: 14px; }

  .padding-small-left-14 {
    padding-left: 14px; }

  .padding-small-right-14 {
    padding-right: 14px; }

  .padding-small-15 {
    padding: 15px; }

  .padding-small-top-15 {
    padding-top: 15px; }

  .padding-small-bottom-15 {
    padding-bottom: 15px; }

  .padding-small-left-15 {
    padding-left: 15px; }

  .padding-small-right-15 {
    padding-right: 15px; }

  .padding-small-16 {
    padding: 16px; }

  .padding-small-top-16 {
    padding-top: 16px; }

  .padding-small-bottom-16 {
    padding-bottom: 16px; }

  .padding-small-left-16 {
    padding-left: 16px; }

  .padding-small-right-16 {
    padding-right: 16px; }

  .padding-small-17 {
    padding: 17px; }

  .padding-small-top-17 {
    padding-top: 17px; }

  .padding-small-bottom-17 {
    padding-bottom: 17px; }

  .padding-small-left-17 {
    padding-left: 17px; }

  .padding-small-right-17 {
    padding-right: 17px; }

  .padding-small-18 {
    padding: 18px; }

  .padding-small-top-18 {
    padding-top: 18px; }

  .padding-small-bottom-18 {
    padding-bottom: 18px; }

  .padding-small-left-18 {
    padding-left: 18px; }

  .padding-small-right-18 {
    padding-right: 18px; }

  .padding-small-19 {
    padding: 19px; }

  .padding-small-top-19 {
    padding-top: 19px; }

  .padding-small-bottom-19 {
    padding-bottom: 19px; }

  .padding-small-left-19 {
    padding-left: 19px; }

  .padding-small-right-19 {
    padding-right: 19px; }

  .padding-small-20 {
    padding: 20px; }

  .padding-small-top-20 {
    padding-top: 20px; }

  .padding-small-bottom-20 {
    padding-bottom: 20px; }

  .padding-small-left-20 {
    padding-left: 20px; }

  .padding-small-right-20 {
    padding-right: 20px; } }
@media only screen and (max-width: 768px) {
  .hidden-down {
    display: none; } }
@media only screen and (min-width: 768px) {
  .hidden-up {
    display: none; } }
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start; }

.container {
  display: block;
  width: calc(100% - 10rem);
  margin: 0 auto; }
  @media only screen and (max-width: 768px) {
    .container {
      width: calc(100% - 1rem); } }

@keyframes modalIn {
  0% {
    top: 100%; }
  100% {
    top: 80px; } }
@-webkit-keyframes modalIn {
  0% {
    top: 100%; }
  100% {
    top: 80px; } }
@-moz-keyframes modalIn {
  0% {
    top: 100%; }
  100% {
    top: 80px; } }
@-o-keyframes modalIn {
  0% {
    top: 80px; }
  100% {
    top: 100%; } }
@keyframes modalOut {
  0% {
    top: 80px; }
  100% {
    top: 100%; } }
@-webkit-keyframes modalOut {
  0% {
    top: 80px; }
  100% {
    top: 100%; } }
@-moz-keyframes modalOut {
  0% {
    top: 80px; }
  100% {
    top: 100%; } }
@-o-keyframes modalOut {
  0% {
    top: 80px; }
  100% {
    top: 100%; } }
body {
  font-family: var(--theme-font-family);
  font-size: var(--font-size-base); }

h1, h2, h3, h4 {
  font-family: var(--theme-font-title); }

a {
  color: var(--theme-secondary);
  font-family: var(--theme-font-title);
  transition-duration: 300ms; }
  a:hover {
    color: var(--theme-primary); }

body.has-menu {
  overflow-y: hidden; }

.header-relative {
  position: relative; }

.header-height-60 {
  height: 60px; }

.header-menu__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  height: 60px;
  cursor: pointer; }

.aside-menu__icon {
  position: relative;
  height: 60px;
  cursor: pointer; }

.icon--container {
  display: flex;
  justify-content: stretch;
  align-items: center;
  height: 100%; }
  .icon--container span {
    color: var(--gray-dark);
    transition-duration: 0.3s; }
  .icon--container svg {
    stroke: var(--gray-dark);
    transition-duration: 0.3s; }
  .icon--container:hover span {
    color: var(--theme-secondary); }
  .icon--container:hover svg {
    stroke: var(--theme-secondary); }

.w50--icon {
  position: relative;
  display: block;
  width: 50px;
  height: 50px; }
  .w50--icon svg {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 20px;
    height: 20px;
    fill: var(--white);
    transition-duration: 300ms; }
  .w50--icon:hover svg {
    fill: var(--theme-secondary); }

.layout {
  min-height: 70vh; }

.layout h1 {
  display: inline-block;
  text-align: center;
  width: 100%;
  color: var(--theme-primary); }

.container {
  display: block;
  margin: 0 auto;
  max-width: 280px; }

.section__date,
.section__title {
  display: inline-block;
  text-align: center;
  width: 100%;
  color: var(--theme-secondary);
  font-size: 1.5rem; }

section__banner-main, .section__banner-signin, .section__banner-login, .section__banner-dashboard, .section__banner-post {
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 30%; }

section__banner-main {
  background-image: url("../images/banners/striker-banner-main.png"); }

.section__banner-signin {
  background-image: url("../images/banners/striker-banner-signin.png"); }

.section__banner-login {
  background-image: url("../images/banners/striker-banner-login.png"); }

.section__banner-dashboard {
  background-image: url("../images/banners/striker-banner-news.png"); }

.section__banner-post {
  background-image: url("../images/banners/striker-banner-participation.png"); }

.article {
  position: relative;
  display: block;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  min-width: 300px;
  max-width: 320px;
  margin: 0.5rem 0.5rem 2rem 0.5rem;
  -webkit-box-shadow: 0px 4px 9px -1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 9px -1px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition-duration: 300ms; }
  .article:hover {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.45); }
  .article a {
    color: var(--gray-dark);
    font-family: var(--theme-font-family); }

article:hover .article__title {
  background-color: var(--theme-secondary);
  color: white; }

.article__category {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10; }

.article__category a {
  display: inline-block;
  border-radius: 10px;
  font-size: 0.8rem;
  text-transform: uppercase;
  background-color: white;
  padding: 3px 7px;
  margin-right: 5px;
  margin-bottom: 5px; }

.article__image {
  position: relative;
  overflow: hidden;
  height: 180px; }
  .article__image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 120%; }

.article__title {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--gray-100);
  text-align: center;
  margin: 0;
  width: 100%;
  color: var(--theme-primary);
  font-size: 1rem;
  transition-duration: 300ms; }

.title-date {
  margin-right: 10px; }

.article__content h2 {
  color: var(--gray-400);
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 5px; }
.article__content p {
  margin: 5px 0; }

.article__footer {
  margin: 10px 5px 15px 5px; }

.article__footer button {
  padding: 0; }

.post {
  position: relative; }

.article__footer--link {
  color: blue;
  padding: 5px;
  font-family: var(--theme-font-family);
  font-size: 0.8rem; }

.article__footer--btn {
  padding: 3px 10px;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold; }

.article__footer--btn--icon {
  padding: 10px;
  margin-right: 10px; }
  .article__footer--btn--icon img {
    width: 17px; }

.btn-primary {
  padding: 5px 12px;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: var(--theme-secondary);
  color: white;
  min-width: 130px; }

.btn-secondary {
  padding: 5px 12px;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold; }

.layout .avatar {
  display: block;
  width: 70px;
  margin: 0 auto; }

.btn-pages--container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; }

.btn-icon-primary {
  background-color: var(--theme-secondary);
  padding: 10px;
  border-radius: 8px;
  width: 50px;
  height: 50px;
  margin: 20px;
  transition-duration: 300ms; }
  .btn-icon-primary a, .btn-icon-primary img {
    width: 100%;
    height: 100%; }
  .btn-icon-primary:hover {
    background-color: var(--theme-primary); }

footer {
  padding: 10px; }
  footer ul li {
    padding: 5px;
    margin: 5px 0; }
    footer ul li a {
      position: relative; }
      footer ul li a:before {
        position: absolute;
        top: 50%;
        left: -40px;
        content: '';
        width: 20px;
        height: 2px;
        background-color: var(--theme-secondary); }

.form__container {
  display: block;
  margin: 0 auto;
  max-width: 280px; }

/** ------- FIELD INPUT ------- **/
.field {
  position: relative;
  margin: 2.5rem 0; }

.field:after,
.field:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
  border-radius: 5px; }

.field:before {
  background-color: #ffffff; }

.field:after {
  background-color: #e9e9e9;
  transform: scaleX(0);
  transition: transform 0.1s; }

.is-focused .field-label {
  font-size: 12px;
  color: var(--theme-secondary); }

.field.is-focused:after {
  transform: scaleX(1); }

.has-label .field-label {
  font-size: 12px;
  color: var(--theme-secondary);
  transform: translateY(-8px) scale(0.95); }

.field-label {
  position: relative;
  line-height: 0;
  font-size: 1rem;
  font-weight: 400;
  display: block;
  margin: 0;
  transform: translateY(24px);
  transition: transform 0.3s;
  transform-origin: 0 50%;
  z-index: 10;
  color: var(--theme-secondary);
  margin-left: 10px; }

input.field-input {
  position: relative;
  padding: 8px 10px;
  line-height: 16px;
  -webkit-box-shadow: 0px 4px 9px -1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 9px -1px rgba(0, 0, 0, 0.4);
  -webkit-appearance: none;
  width: 100%;
  height: 45px;
  font-size: 16px;
  border-radius: 5px;
  background-color: transparent;
  z-index: 10; }

input.field-input#search {
  z-index: 10;
  background: transparent; }

.field-inline {
  position: relative;
  height: 50px;
  margin: 0 1rem; }

.field-inline:after,
.field-inline:before {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 11; }

.field-inline:before {
  background-color: var(--gray-light, #fafafa); }

.field-inline:after {
  background-color: var(--theme-primary);
  transform: scaleX(0);
  transition: transform 0.5s; }

.is-focused .field-inline-label {
  font-size: 12px;
  color: var(--theme-secondary); }

.field-inline.is-focused:after {
  transform: scaleX(1); }

.has-label .field-inline-label {
  font-size: 12px;
  font-weight: 300;
  color: var(--gray, #aaaaaa);
  transform: translateY(0) scale(0.95); }

.field-inline-label {
  position: relative;
  line-height: 0;
  font-size: 1rem;
  font-weight: 400;
  display: block;
  margin: 0;
  transform: translateY(24px);
  transition: transform 0.3s;
  transform-origin: 0 50%;
  z-index: 10;
  color: var(--theme-secondary);
  margin-left: 10px; }

input.field-inline-input {
  position: relative;
  padding: 8px 10px;
  line-height: 16px;
  border-bottom: 1px solid var(--gray-300, #9E9E9E);
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  font-size: 16px;
  border-top: none;
  border-left: none;
  border-right: none; }
  input.field-inline-input:focus {
    outline: none; }

.field-message {
  position: relative;
  min-height: 72px; }

.field-label-message {
  position: relative;
  z-index: 10;
  line-height: 16px;
  font-size: 1rem;
  font-weight: 500;
  display: block;
  margin: 0;
  transform: translateY(35px);
  transition: transform 0.3s;
  transform-origin: 0 50%;
  color: var(--theme-secondary);
  margin-left: 10px; }

textarea.field-textarea {
  position: relative;
  z-index: 1;
  background-color: transparent;
  -webkit-appearance: none;
  width: 100%;
  min-height: 150px;
  font-size: 16px;
  -webkit-box-shadow: 0px 4px 9px -1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 9px -1px rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 5px;
  resize: none;
  padding: 0.5rem; }

textarea.field-textarea:after,
textarea.field-textarea:before {
  position: absolute;
  bottom: 6px;
  left: 0;
  border: 2px solid var(--gray-300, #9E9E9E);
  transform: scaleX(0);
  transition: transform 0.5s; }

.is-focused .field-label-message {
  font-size: 12px;
  color: var(--theme-secondary); }

.field-message.is-focused:after {
  transform: scaleX(1); }

.has-label .field-label-message {
  font-size: 12px;
  color: var(--theme-secondary);
  transform: translateY(0) scale(0.95); }

/** ------- MESSAGE ERROR ------- **/
.message-error {
  display: none;
  position: absolute;
  bottom: -7px;
  left: 0;
  color: var(--theme-secondary); }

input.field-input.is-invalid {
  background-color: rgba(255, 209, 209, 0.5); }

/** ------- FIELD IMAGE ------- **/
.field-image-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; }
  .field-image-label button {
    position: relative;
    color: var(--theme-secondary);
    font-family: var(--theme-font-title); }
    .field-image-label button input {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 180px;
      height: 30px;
      opacity: 0; }

ul.tab {
  padding: 0.5rem 0.5rem 0.5rem 2rem; }
  ul.tab li {
    position: relative;
    margin: 1em 0;
    display: block;
    width: 100%;
    -webkit-box-shadow: 0px 4px 9px -1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 9px -1px rgba(0, 0, 0, 0.4);
    padding: 0.3rem 0.5rem;
    font-size: 0.75rem; }
  ul.tab li span {
    position: absolute;
    top: 50%;
    left: -1.9rem;
    transform: translateY(-50%);
    font-size: 0.7rem; }
  ul.tab li article {
    display: table;
    width: 100%;
    height: 40px; }
    ul.tab li article * {
      display: table-cell;
      vertical-align: middle;
      min-height: 30px; }
    ul.tab li article a {
      font-family: var(--theme-font-family); }
    ul.tab li article button, ul.tab li article a {
      height: 100%;
      width: 100%; }
    ul.tab li article button a,
    ul.tab li article form button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%; }
      ul.tab li article button a img,
      ul.tab li article form button img {
        width: 22px; }

.modal {
  z-index: 10;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 220px;
  padding: 1rem;
  text-align: center;
  background-color: var(--white);
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 9px -1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 9px -1px rgba(0, 0, 0, 0.4); }
  .modal header {
    margin-bottom: 20px; }

.modal.modal-succes {
  background-color: #var --success;
  color: var(--white); }

.alert {
  color: var(--white);
  width: 100%;
  padding: 1rem; }

.alert-succes {
  background-color: var(--success); }

.alert-danger {
  background-color: var(--danger); }

.invalid-feedback {
  color: var(--danger);
  position: absolute;
  bottom: -25px;
  left: 0; }

.menu-mobile {
  display: block; }

.has-menu .site-cache {
  display: block; }

.site-cache {
  display: none; }

.has-menu .site-cache {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(245, 245, 245, 0.5); }

.header-main .close {
  display: none; }

.has-menu .header-main .close {
  display: block; }

.has-menu .hamburger {
  display: none; }

.has-menu aside.nav__mobile {
  right: 0; }

aside.nav__mobile {
  background-color: var(--white); }

aside.nav__mobile {
  overflow-y: scroll;
  overflow-x: hidden; }

.nav__mobile {
  position: fixed;
  top: 0;
  right: -230px;
  bottom: 0;
  z-index: 100;
  width: 230px;
  height: 100vh;
  background-color: var(--gray);
  transition-duration: 0.3s; }
  .nav__mobile nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-start; }
  .nav__mobile nav ul li a,
  .nav__mobile nav ul li span {
    padding-left: 15px;
    margin: 10px 0;
    color: var(--gray-dark);
    text-transform: uppercase;
    position: relative; }
    .nav__mobile nav ul li a svg,
    .nav__mobile nav ul li span svg {
      color: var(--gray-dark);
      transition-duration: 300ms; }
    .nav__mobile nav ul li a:hover, .nav__mobile nav ul li a:focus, .nav__mobile nav ul li a:active, .nav__mobile nav ul li a.active,
    .nav__mobile nav ul li span:hover,
    .nav__mobile nav ul li span:focus,
    .nav__mobile nav ul li span:active,
    .nav__mobile nav ul li span.active {
      color: var(--theme-secondary); }
    .nav__mobile nav ul li a:hover svg, .nav__mobile nav ul li a:focus svg, .nav__mobile nav ul li a:active svg,
    .nav__mobile nav ul li span:hover svg,
    .nav__mobile nav ul li span:focus svg,
    .nav__mobile nav ul li span:active svg {
      fill: var(--theme-secondary); }

.nav__social__mobile {
  position: relative;
  display: block;
  height: 60px; }
  .nav__social__mobile nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: row; }
    .nav__social__mobile nav ul li {
      width: 100%;
      height: 100%; }
      .nav__social__mobile nav ul li a {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: var(--theme-primary);
        transition-duration: 0.3s; }
        .nav__social__mobile nav ul li a svg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          width: 20px;
          height: 20px; }
          .nav__social__mobile nav ul li a svg g path {
            fill: var(--white); }
        .nav__social__mobile nav ul li a:hover {
          background-color: var(--theme-secondary); }
        .nav__social__mobile nav ul li a:hover svg g path {
          fill: var(--gray-dark); }
        .nav__social__mobile nav ul li a:hover:after, .nav__social__mobile nav ul li a:focus:after, .nav__social__mobile nav ul li a:active:after, .nav__social__mobile nav ul li a.active:after {
          position: relative;
          border: none; }

/*# sourceMappingURL=index.css.map */
